{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                {% if ( label == 'success' ) %}
                    <div class="alert alert-success alert-dismissible text-center fade show">
                        {{ flash }}
                    </div>
                {% elseif ( label == 'error' ) %}
                    <div class="alert alert-danger alert-dismissible text-center fade show">
                        {{ flash }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class="col-lg-10 intro_col offset-1">
            <div class="intro_form_container">
                <div class="intro_form_title">Envoi Inscription Assistant</div>
                    <form method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center flex-wrap">
                            <input type="email" class="intro_input" placeholder="Email assistant" name="email" required="required">
                        </div>
                        <button type="submit" class="button button_1 intro_button trans_200 button-rdv">Envoyer le lien d'activation</button>
                    </form>
                </div>
            </div>

    {% endblock %}
