{% extends 'espace_patient_logged_in/index.html.twig' %}

{% block title %}Contactez votre praticien{% endblock %}

{% block body %}
    <br>
    <h3>Contactez votre praticien</h3>

{% endblock body %}