{% extends 'basePatient.html.twig' %}


{% block title %}Espace Patient{% endblock %}

{% block body %}

    <h1>Espace Patient</h1>

    <div class="">
        <div class="">
            <a href="{{ path('app_espacepatientfreezone_login') }}">Connectez-vous</a>
        </div>

        <div>
            <a href="{{ path('app_espacepatientfreezone_inscription') }}">Inscrivez-vous</a>
        </div>
    </div>


{% endblock %}
