{% extends 'base.html.twig' %}


{% block body %}
<div class="container-fluid p-4" style="padding-top: 200px!important;margin-bottom: 100px!important;">
    <div class="row">
        <div class="col-sm-5 m-auto">
            <h1>Vous voulez nous rejoindre?</h1>
            <img src="{{ asset('lib/images/chirurgie.jpg') }}" width="400px" class="rounded float-left mr-1" alt="Responsive image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper libero volutpat neque semper tempor. Vivamus ipsum ex, maximus ut urna id, sollicitudin aliquam urna. Duis lacinia tortor sed finibus laoreet. In nec elementum lacus, vitae elementum augue. In magna enim, maximus ac suscipit a, placerat in massa. Sed eget consectetur purus. Sed sapien magna, feugiat a gravida sit amet, imperdiet at ante. Nam erat ligula, volutpat id maximus et, dapibus in dolor. Nulla pretium, velit vel molestie volutpat, augue urna suscipit odio, ac placerat ipsum nunc ut erat.Fusce ultricies dui eu tempor porta. Mauris et massa laoreet, tincidunt odio id, bibendum arcu. Maecenas eget mi maximus, hendrerit lacus sed, aliquet urna. Nunc accumsan egestas ornare. Vestibulum posuere nisi ac enim molestie, sed tincidunt leo iaculis. Praesent vitae ipsum nec ligula blandit varius nec luctus felis. Cras blandit sit amet lectus in placerat. Aliquam ut lorem ipsum. Nulla a scelerisque ipsum. Etiam suscipit lacus eu mollis egestas. Ut augue velit, posuere vitae nisi interdum, cursus varius lacus.</p>

            <h2>Des équipements a la pointe de la technologie!</h2>
            <img src="{{ asset('lib/images/chirurgie2.jpg') }}" class="img-fluid" alt="Responsive image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean semper libero volutpat neque semper tempor. Vivamus ipsum ex, maximus ut urna id, sollicitudin aliquam urna. Duis lacinia tortor sed finibus laoreet. In nec elementum lacus, vitae elementum augue. In magna enim, maximus ac suscipit a, placerat in massa. Sed eget consectetur purus. Sed sapien magna, feugiat a gravida sit amet, imperdiet at ante. Nam erat ligula, volutpat id maximus et, dapibus in dolor. Nulla pretium, velit vel molestie volutpat, augue urna suscipit odio, ac placerat ipsum nunc ut erat.Fusce ultricies dui eu tempor porta. Mauris et massa laoreet, tincidunt odio id, bibendum arcu. Maecenas eget mi maximus, hendrerit lacus sed, aliquet urna. Nunc accumsan egestas ornare. Vestibulum posuere nisi ac enim molestie, sed tincidunt leo iaculis. Praesent vitae ipsum nec ligula blandit varius nec luctus felis. Cras blandit sit amet lectus in placerat. Aliquam ut lorem ipsum. Nulla a scelerisque ipsum. Etiam suscipit lacus eu mollis egestas. Ut augue velit, posuere vitae nisi interdum, cursus varius lacus.</p>

        </div>
        <div class="col-sm-2">
            <div class="button button_3 header_button mb-4"><a href="{{ path('app_espacepraticienfreezone_inscription') }}">Inscription</a></div>
            <div class="button button_1 header_button"><a href="{{ path('app_espacepraticienfreezone_index') }}">Connexion</a></div>
        </div>
    </div>
</div>
{% endblock %}
