{% extends 'basePatient.html.twig' %}

{% block title %}Espace Patient - Acivation en attente{% endblock %}

{% block body %}
    <div class="intro" style="padding-top: 200px!important;margin-bottom: 100px!important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            {% if ( label == 'success' ) %}
                                <div class="alert alert-success alert-dismissible text-center fade show">
                                    {{ flash }}
                                </div>
                            {% elseif ( label == 'error' ) %}
                                <div class="alert alert-danger alert-dismissible text-center fade show">
                                    {{ flash }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 m-auto">
                    <a href="{{ path('app_espacepatientfreezone_login') }}" class="mt-3 btn btn-outline-success">connexion</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}