{% extends 'base.html.twig' %}

{% block title %}Espace Patient{% endblock %}

{% block body %}
    <h1>Espace Patient</h1>
    <h2>Bonjour NOM DU PATIENT</h2>

    <nav>
        <ul>
            <li><a href="">Données personnelles</a></li>
            <li><a href="">Données médicales</a></li>
            <li><a href="">Prise de Rendez-vous</a></li>
            <li><a href=""></a></li>
            <li><a href="">Données personnelles</a></li>
        </ul>
    </nav>


{% endblock %}
