{% extends 'base.html.twig' %}

{% block body %}
    <h2>Recherche de patient</h2>
    <form method="post">


        <div class="form-group">

            <label>Nom</label>
            <input type="text" name="" class="form-control"
                   value="{{}}">
        </div>

        <div class="text-right">
            <button type="submit" class="btn btn-primary">
                Se connecter
            </button>
        </div>
    </form>

{% endblock %}