{% extends 'basePatient.html.twig' %}

{% block title %}Prendre un Rendez-vous{% endblock %}

{% block body %}
    <div class="intro" style="padding-top: 200px!important;margin-bottom: 100px!important;">
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
{% endblock %}



{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}